// CONFIGURATION FILE

process {

    withLabel: REALIGN_SAMPLES {
        executor='slurm'
		queue = 'normal'
		cpus = 16
		mem_string = '200'
		memory = "${mem_string}.GB"
        clusterOptions='--time 24:00:00 --account coa_mteb223_uksr'
    }

    withLabel: RUN_DRF {
        executor='slurm'
		queue = 'normal'
		cpus = 1
		mem_string = '40'
		memory = "${mem_string}.GB"
        clusterOptions='--time 24:00:00 --account coa_mteb223_uksr' 
    }

    withLabel: COMBINE_DRF_OUTPUT {
        executor='slurm'
		queue = 'normal'
		cpus = 16

		/*
		 * In this case, define mem per CPU since SLURM allows that.
		 */
        clusterOptions='--time 8:00:00 --account coa_mteb223_uksr --mem-per-cpu=8G'
    }

    withLabel: CREATE_BED_FILE {
		executor='slurm'
		queue = 'normal'
		cpus = 16

		/*
		 * In this case, define mem per CPU since SLURM allows that.
		 */
		clusterOptions='--time 48:00:00 --account coa_mteb223_uksr --mem-per-cpu=8G'
    }

    withLabel: MASK_GENOME {
		executor='slurm'
		queue = 'normal'
		cpus = 1

		mem_string = '32'
		memory = "${mem_string}.GB"

		clusterOptions='--time 6:00:00 --account coa_mteb223_uksr'
    }


    withLabel: local {
        executor='local'
    }

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 50
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/../singularity/rescue_camo_variants.sif"
}

