// CONFIGURATION FILE

process {

    withLabel: REALIGN_SAMPLES {
        executor='slurm'
	queue = 'normal'
	cpus = 16
	mem_string = '200'
	memory = "${mem_string}.GB"
        clusterOptions='--time 72:00:00 --account coa_mteb223_uksr '
    }

    withLabel: RUN_DRF {
        executor='slurm'
	queue = 'normal'
	cpus = 1
	mem_string = '40'
	memory = "${mem_string}.GB"
        clusterOptions='--time 72:00:00 --account coa_mteb223_uksr ' 
    }

    withLabel: COMBINE_DRF_OUTPUT {
        executor='slurm'
	queue = 'normal'
	cpus = 16
	mem_string = '2048'
	memory = "${mem_string}.GB"
        clusterOptions='--time 48:00:00 --account coa_mteb223_uksr --mem-per-cpu=128G '
    }

    withLabel: local {
        executor='local'
    }

    withLabel: CREATE_BED_FILE {
	executor='slurm'
	queue = 'normal'
	cpus = 16
	mem_string = '128'
	memory = "${mem_string}.GB"
	clusterOptions='--time 48:00:00 --account coa_mteb223_uksr '
    }

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 50
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/../singularity/rescue_camo_variants.sif"
}

