// CONFIGURATION FILE

process {

    withLabel: IDENTIFY_FALSE_POSITIVES {
        executor = 'slurm'
        queue = 'normal'
        cpus = 16
        memory = 256.GB
        clusterOptions='--time 72:00:00 --account coa_jbmi230_uksr'
    }


    withLabel: local {
        executor='local'
    }

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"

	/*
	 * The max number of jobs Nextflow will submit at a given time. SLURM
	 * manages how many jobs can run at once, so not much reason to limit here.
	 *
	 * UKY MCC allows up to 10_000 job submissions, so we'll limit a bit below that.
	 */
    queueSize = 9_500
}

trace {
    enabled = true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,rss,%mem,peak_rss,peak_vmem,rchar,wchar'
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/../singularity/rescue_camo_variants.sif"
}

