// CONFIGURATION FILE

process {

    // Define job scheduler parameters for jobs that require lots of computation/memory ##

    withLabel: big_mem {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 64 --mem 500G'
	}

    withLabel: MASK_GENOME {
        executor='slurm'
		clusterOptions='--partition normal --time 6:00:00 --account coa_mteb223_uksr --ntasks 4 --mem 32G -J MASK_GENOME'
    }

    withLabel: RESCUE_CAMO_VARS_PROC {
        executor='slurm'
		clusterOptions='--partition normal --time 24:00:00 --account coa_mteb223_uksr --ntasks 1 --mem 32G -J Rescue_Camo_Vars_Proc'
    }

    withLabel: COMBINE_AND_GENOTYPE {
        executor='slurm'
        clusterOptions='--partition normal --time 72:00:00 --account coa_mteb223_uksr --ntasks 1 --mem 48G'
    }

    // Define job scheduler parameters for jobs that require normal ammounts of computation/memory ##

    withLabel: regular {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 12 --mem 100G'
	}

   withLabel: local {
		executor='local'
	}

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 50
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/../singularity/rescue_camo_variants.sif"
}

