// CONFIGURATION FILE

process {

    // Define job scheduler parameters for jobs that require lots of computation/memory ##

    withLabel: RESCUE_CAMO_VARS_PROC {
        executor='slurm'
		queue = 'normal'
		cpus = 5
		memory = 32.GB
		clusterOptions='--time 5:00:00 --account coa_mteb223_uksr'
    }

    withLabel: COMBINE_AND_GENOTYPE {
        executor='slurm'
		queue = 'normal'
		cpus = 4
		memory = 48.GB
        clusterOptions='--time 5:00:00 --account coa_mteb223_uksr'
    }

	withLabel: IDENTIFY_FALSE_POSITIVES {
		executor = 'slurm'
		queue = 'normal'
		cpus = 5
		memory = 20.GB
        clusterOptions='--time 3:00:00 --account coa_mteb223_uksr'
	}

   withLabel: local {
		executor='local'
	}

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 100
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/../singularity/rescue_camo_variants.sif"
}

