// CONFIGURATION FILE

process {

    // Define job scheduler parameters for jobs that require lots of computation/memory ##
    withLabel: "RUN_DRF_PROC" {
        executor='slurm'
		queue = 'normal'
		cpus = 1
		memory = 20.GB
        clusterOptions='--time 2:00:00 --account coa_jbmi230_uksr' 
    }


    withLabel: RESCUE_CAMO_VARS_PROC {
        executor='slurm'
		queue = 'normal'
		cpus = 5
		memory = 32.GB
		clusterOptions='--time 5:00:00 --account coa_jbmi230_uksr'
    }

    withLabel: COMBINE_AND_GENOTYPE {
        executor='slurm'
		queue = 'normal'
		cpus = 4
		memory = 48.GB
        clusterOptions='--time 5:00:00 --account coa_jbmi230_uksr'
    }

    withLabel: GENERATE_LOW_MAPQ_AND_DEPTH_BEDS {
        executor='slurm'
		queue = 'normal'
		cpus = 5
		memory = 32.GB
		clusterOptions='--time 5:00:00 --account coa_jbmi230_uksr'
    }

    withLabel: MERGE_DARK_REGIONS {
        executor='slurm'
		queue = 'normal'
		cpus = 5
		memory = 32.GB
		clusterOptions='--time 5:00:00 --account coa_jbmi230_uksr'
    }
   
    withLabel: CAT_VARIANTS {
        executor='slurm'
                queue = 'normal'
                cpus = 1
                memory = 50G
                clusterOptions='--time 5:00:00 --acount coa_jbmi230_uksr'
    }

    withLabel: COMBINE_PLOIDY {
        executor='slurm'
                queue = 'normal'
                cpus = 1
                memory = 50G
                clusterOptions='--time 5:00:00 --acount coa_jbmi230_uksr'
    }

    withLabel: CALC_STATS {
        executor='slurm'
		queue = 'normal'
		cpus = 5
		memory = 32.GB
		clusterOptions='--time 5:00:00 --account coa_mteb223_uksr'
    }


    withLabel: GET_VAR_METRICS {
        executor='slurm'
                queue = 'normal'
                cpus = 1
                memory = 50G
                clusterOptions='--time 5:00:00 --acount coa_jbmi230_uksr' 
    }

    withLabel: GET_GENE_NUM {
        executor='slurm'
                queue = 'normal'
                cpus = 1
                memory = 50G
                clusterOptions='--time 5:00:00 --acount coa_jbmi230_uksr' 
    }

   withLabel: local {
		executor='local'
	}

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 1000
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/../singularity/rescue_camo_variants.sif"
}

